@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #c3c29c;
  color: #000;
  line-height: 1.6;
}
.feedbackitem {
  width: 80%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  margin-bottom: 20px;
}
.container {
  background-color: #8f8255;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.card {
  background-color: #fff;
  color: rgb(160, 32, 32);
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;

  display: flex;
  justify-content: center;
}

.num-display {
  position: absolute;
  top: -15px;
  left: -15px;
  color: #fff;
  background-color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid white 1px;
}
.close {
  background-color: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.feedback-stat {
  display: flex;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
}
input:focus {
  outline: none;
}
.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}
